{
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "printWidth": 100,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": false,
  "bracketSameLine": false,
  "endOfLine": "lf",

  "plugins": ["prettier-plugin-tailwindcss"],

  "tailwindStylesheet": "./app/app.css",
  "tailwindFunctions": ["cn", "cva", "clsx"]
}